:root {
  --white: #ffff;
  --yellow: #ffe151;
  --pink: #ac3b61;
  --salmon: #edc7b7;
  --grey: #eee2dc;
  --darkGrey: #bab2b5;
  --darkBlue: #123c69;
  --dark: #4d4d4d;
  --green: #1ab188;
  --darkGreen: #0b9185;

  --primaryFont: Avenir, Helvetica, Arial, sans-serif;
}
